ngbot
.*/
!**/*.go
models/MoritzLaurer/mDeBERTa-v3-base-mnli-xnli/added_tokens.json
models/MoritzLaurer/mDeBERTa-v3-base-mnli-xnli/config.json
models/MoritzLaurer/mDeBERTa-v3-base-mnli-xnli/pytorch_model.bin
models/MoritzLaurer/mDeBERTa-v3-base-mnli-xnli/special_tokens_map.json
models/MoritzLaurer/mDeBERTa-v3-base-mnli-xnli/spm.model
models/MoritzLaurer/mDeBERTa-v3-base-mnli-xnli/tokenizer_config.json
models/MoritzLaurer/mDeBERTa-v3-base-mnli-xnli/tokenizer.json
models/MoritzLaurer/mDeBERTa-v3-base-mnli-xnli/vocab.txt
.DS_Store
