services:
  ngbot:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - NG_TOKEN
      - NG_LANG
      - NG_HANDLERS
      - NG_LOG_LEVEL
      - NG_DOT_PATH
      - NG_OPENAI_API_KEY
      - NG_OPENAI_BASE_URL
      - NG_OPENAI_MODEL
      - NG_FLAGGED_EMOJIS
      - NG_SPAM_LOG_CHANNEL_USERNAME
      - NG_SPAM_VERBOSE
      - NG_SPAM_VOTING_TIMEOUT
      - NG_SPAM_MIN_VOTERS
      - NG_SPAM_MAX_VOTERS
      - NG_SPAM_MIN_VOTERS_PERCENTAGE
      - NG_SPAM_SUSPECT_NOTIFICATION_TIMEOUT
    volumes:
      - /home/username/.ngbot:/root/.ngbot:delegated
    deploy:
      restart_policy:
        condition: on-failure
        delay: 5s
